<h2>Programming Exercises</h2>
<div class="container">
  <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
          <li>
              <a routerLinkActive="active" routerLink="Customer">Exercise 1</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="DateTime">Exercise 2</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="Enum">Exercise 3</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="Bank">Exercise 4</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="Animal">Exercise 5</a>
          </li>
          <li>
              <a routerLinkActive="active" routerLink="Name">Exercise 6</a>
          </li>
          <li>
              <a href="/">Exercise 7</a>
          </li>
          <li>
              <a href="/">Exercise 8</a>
          </li>
          <li>
              <a href="/">Exercise 9</a>
          </li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>